.header {
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-bottom: 2px solid black;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-text {
    font-weight: bold;
    font-size: 24px;
    margin-left: 5px;
}

.link-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link {}